*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
}
body{
    font-family: 'Helvetica Neue', 'Segoe UI', Roboto, Ubuntu, sans-serif;
    background-color: #000;
    color: #fff;
}
header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 24px 48px;
    position: absolute;
    width: 100%;
    z-index: 5;
}
header a.logo{
    display: block;
}
header .logo svg{
   fill: #e50914;
   height: 2.5rem;
} 
header div+div{
    text-align: right;
}
header a.btn{
    display: inline-block;
    background-color: #e50914;
    color: #fff;
    text-decoration: none;
    padding: 7px 17px;
    border-radius: 3px;
}
header select{
    background: transparent;
    color: #fff;
    padding: 8px 21px;
    padding-right: 5px;
    border-radius: 3px;
}
header div.select{
    display: inline-block;
    color: #fff;
    margin-right: 10px;
}
header div.select select{
    color: #fff;
    background-color: #000;
}
header div.select svg{
    color: #fff;
    height: 18px;
    position: absolute;
    margin-top: 9px;
    margin-left: 3px;
    
}
div.splash{
    position: relative;
}
div.splash div.gradient{
    background-image:linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%);
    position: absolute;
    inset: 0;
}
div.splash div.background img{
    max-width: 100%;
    opacity: 0.6;
}
div.splash div.content{
    max-width: 655px;
    position: absolute;
    inset: 0;
    left: 50%;
    margin-left: -327.5px;
    display: grid;
    align-items: center;
    text-align: center;
}
div.splash h1, div.splash h2, div.splash h3{
    font-weight: normal;
}
div.splash h1{
    font-size: 3rem;
    font-weight: bold;
}
div.splash h2{
    font-size: 1.625rem;
    margin-top: 13px;
    margin-bottom: 29px;
}
div.splash h3{
    font-size: 1.2rem;
}
div.splash form{
    position: relative;
    display: grid;
    margin-top: 20px;
    grid-template-columns: 1fr max-content;
}
div.splash input{
    padding: 15px 10px;
    font-size: 1.2rem;
    width: 100%;
}
div.splash input ~ span{
    position: absolute;
    left: 11px;
    top: 17px;
    z-index: 3;
    color: #aaa;
    transition: all 0.3s ease;
    pointer-events: none;
}
div.splash input:focus{
    padding-top: 19px;
    padding-bottom: 11px;
}
div.splash input:focus ~ span{
    top: 5px;
    font-size: 0.8rem;
}
div.splash button{
    font-size:1.625rem;
    padding: 12px  26px;
    background-color: #e50914;
    color: #fff;
    border: none;
} 

section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 46px;
    padding: 70px 90px;
    align-items: center;
    border-top: 8px solid #222;
}
section.last{
    border-bottom: 8px solid #222;
}
section div.texts h1{
    font-size: 3.125rem;
    margin-bottom: 8px;
}
section div.texts p{
    font-size: 1.625rem;
}
.media{
    position: relative;
}
.media.s1 img{
    width: 600px;
}

.media.s1 video{
    width: 437px;
    position: absolute;
    z-index: -5;
    top: 95px;
    left: 78px;
}
section:nth-child(even) div.texts{
    order: 2;
}   
section div.download{
    border: 2px solid #666;
    border-radius: 15px;
    padding: 10px;
    height: 95px;
    display: grid;
    text-align: center;
    align-items: center;
    position: absolute;
    bottom: 30px;
    width: 340px;
    left: 50%;
    margin-left: -178px;
    background-color: #000;
    gap: 15px;
    grid-template-columns: max-content 1fr max-content;
}
section div.download img{
   height: 75px;
   width: auto;
}
.media.s3 img{
    width: 550px;
    position: relative;
    z-index: 5;
}
.media.s3 video{
    width: 345px;
    position: absolute;
    top: 36px;
    left: 95px;
}
div.faq{
    padding: 70px 90px;
}
div.faq h1{
    font-size: 3.125rem;
    text-align: center;
}
div.questions{
    max-width: 635px;
    margin: 0 auto;
    font-size: 1.5rem;

}
div.question{
    position: relative;
    background-color: #303030;
}
div.question svg{
    width: 30px;
    height: 30px;
    right: 25px;
    top: 20px;
    position: absolute;
}
div.question div.header{
    padding: 20px 30px;
    border-bottom: 2px solid #000;
    cursor: pointer;
}
div.question div.answer{
    padding: 20px;
}